<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>RISOVARKA</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<style>
    body {
      background-color: #f0f0f0;
    }
    .ui.menu {
      border-radius: 0;
    }
    .ui.inverted.menu .item, .ui.inverted.menu .link {
      color: white !important;
    }
    .sidebar {
      width: 180px;
    }
</style>

<body>

<div class="ui inverted menu">
    <div class="header item">
        <h1>Рисоварка</h1>
    </div>
    <div class="ui container">
    <a class="item" href="http://localhost:5173/">Доска</a>
    <div class="right menu">
        <a th:if="${#authorization.expression('isAuthenticated()')}" class="item" href="/logout">Выйти</a>
        <a th:unless="${#authorization.expression('isAuthenticated()')}" class="item" href="/login">Войти</a>
    </div>
    </div>
</div>

<div class="main-container">
    <div class="ui segment">
        <p>Информация о приложении</p>
    </div>
</div>

</body>
</html>

