<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>

<body>
    <form th:action="@{/process_registration}" th:object="${person}" method="post">
        <div>
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" th:field="*{username}" placeholder="Введите имя пользователя"/>
            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div>
            <label for="password">Пароль</label>
            <input type="password" id="password" th:field="*{password}" placeholder="Введите пароль"/>
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>


    <h1>Добро пожаловать<br></h1>
    <p >Войти с помощью логина и пароля</p>
    <a href="/login">
        <button id="login">войти</button></a>

</body>

</html>