<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрация - Рисоварка</title>
    <!-- Подключение Semantic UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- Подключение Semantic UI JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>

<!-- Форма регистрации -->
<div class="ui container" style="margin-top: 20px;">
    <h2 class="ui dividing header">Регистрация</h2>
    <form class="ui form" method="post" action="/createAccount">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div class="field">
            <label for="username">Логин</label>
            <input type="text" id="username" name="username" placeholder="Введите ваш логин">
        </div>

        <div class="field">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Введите ваш email">
        </div>

        <div class="field">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" placeholder="Введите ваш пароль">
        </div>

        <button class="ui primary button" type="submit">Создать аккаунт</button>
    </form>

    <div class="ui message">
        Уже есть аккаунт? <a th:href="@{../login}">Войдите здесь!</a>
    </div>
</div>
</body>
</html>